.hero{
    background-color: #e6e6f7;
    padding: 3em 0;
}
.hero--section{
    display: flex;
    min-height: 90vh;
}
.hero__title,.hero__image{
    width: 50%;
}
.hero--title{
    color: rgb(49, 48, 48);
    font-weight: 900;
    font-size: 3.75rem;
}
.hero__image{
    margin-left: 4em;
}
.fake{
    text-transform: uppercase;
    color: rgb(189, 18, 26);
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    font-size: 4rem;
}
@media screen and (max-width: 968px) {
 
    .hero--section{
        flex-direction: column;
    }
    .hero__title{
        text-align: center;
        width: 75%;
        margin: 0 auto;
    }
    .hero__image{
        width: 60%;
        margin: 0 auto;
    }

}
@media screen and (max-width: 500px){
    .hero{
        padding: 1em 0;
    }
    .hero__title,.hero__image{
        width: 100%;
    }
}