li {
    list-style-type: none;
}

header {
    background-color: #45566a;
    padding: .5em 0em;
    font-size: 1.135rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 40px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    cursor: pointer;
    margin: 0 .75em;
    color: white;
    text-transform: uppercase;
}

.nav__item:hover {
    text-decoration: underline;
}

.userNameAndDropdown {
    display: flex;
    align-items: center;
    margin: 0 .75em 0 0;

}

.userName {
    margin-right: .25em;
    text-transform: none;
    position: relative;
}

.userName:hover {
    text-decoration: none;
}

.dropDown {
    cursor: pointer;
}

.logout__div {
    position: absolute;
    top: 3.5em;
    z-index: 1;
    justify-self: flex-end;
}

.logout {
    background-color: white;
    color: #45566a;
    text-align: center;
    padding: .5em 2em;
    margin: 0;
    font-size: 1.25rem;
}
.logout:hover {
    color: white;
    background-color: #45566a;
    cursor: pointer;
}
.shopping_cart {
    width: 2em;
    height: 2em;
}