* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #222c2a;
  font-weight: normal;
  outline: none;
}

.container {
  width: 85%;
  max-width: 1128px;
  margin: 0 auto;
}

body {
  font-size: 21px;
  text-align: left;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #222c2a;
  cursor: pointer;
}

p {
  font-size: 1.135rem;
}

button {
  border: none;
  outline: none;
  padding: .25em 1em;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 968px) {
  body {
    font-size: 18px;
  }
  html{
    font-size: 14px;
  }
}